*{
    box-sizing: border-box;
}
$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

// stylelint-disable value-keyword-case
$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// stylelint-enable value-keyword-case

$font-size-root:              null;
$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875;
$font-size-lg:                $font-size-base * 1.25;

$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-semibold:        600;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;

$font-weight-base:            $font-weight-normal;

$line-height-base:            1.5;
$line-height-sm:              1.25;
$line-height-lg:              2;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;

/*Buttond*/

.btn-primary{
    background-color: $primary;
    color: $white;
}


html{
    height: 100%;
}
body{
    background-color: $white;
    color: #222;
    padding: 0;
    height: 100vh;
}

.theme-options {
    // max-width: 800px;
    margin: 0 auto;
    text-align: right;
    padding: 2px 0;
    div{
        cursor: pointer;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        margin: 2px 10px;
        border: 1px solid $white;
        display: inline-block;
        opacity: 0.5;
        &.active{
            opacity: 1;
            border: 1px solid $white;
        }
    }
    #theme-white{
        background-color: #eee;
    }
    #theme-blue{
        background-color: $primary;
    }
    #theme-orange{
        background-color: #b64b1e;
    }
    #theme-green{
        background-color: #5faf3b;
    }
    #theme-black{
        background-color: #000;
    }
    #theme-purple{
        background-color: #7852ae;
    }
    
}
.content-box{
    margin: 15px;
    background-color: #eee;
    color: #222;
    border-radius: 8px;
    padding: 30px 30px 40px 30px;
    // max-width: 800px;
    // height: 100vh;
    height: auto;
    h3{
        line-height: 1.2;
        margin: 0;
        font-size: 26px;
    }
    h5{
        line-height: 1.5;
        margin: 0 0 22px 0;
        font-size: 20px;
    }
}
.App.theme-blue{
    background-color: $primary;
    h1, h2, h3,h4, h5, h6{
        color: $white;    
    }
    p{
        color: $white;
    }
    .content-box{
        background-color: $primary;
        h3, h5{
            color: $white;    
        }
        p{
            color: $white;
        }
    }
}

.App.theme-orange{
    background-color: #FF7F00;
    h1, h2, h3,h4, h5, h6{
        color: $white;    
    }
    .content-box{
        background-color: #FF7F00;
        h3, h5{
            color: $white;    
        }
        p{
            color: #000;
        }
    }
}

.App.theme-white{
    background-color: #eee;
    h1, h2, h3,h4, h5, h6{
        color: #000;    
    }
    .nav-links li {
        color: #000;
    }
    .content-box{
        background-color: #eee;
        h3, h5{
            color: #222;    
        }
        p{
            color: #000;
        }
    }
}
.App.theme-green{
    background-color: #369d07;
    h1, h2, h3,h4, h5, h6{
        color: $white;    
    }
    .content-box{
        background-color: #369d07;
        h3, h5{
            color: $white;    
        }
        p{
            color: #000;
        }
    }
}

.App.theme-purple{
    background-color: #8d50e2;
    h1, h2, h3,h4, h5, h6{
        color: $white;    
    }
    .content-box{
        background-color: #8d50e2;
        h3, h5{
            color: $white;    
        }
        p{
            color: $white;
        }
    }
}

.App.theme-black{
    background-color: #020101;
   h1, h2, h3,h4, h5, h6{
        color: $white;    
    }
    .nav-links li {
        color: #fff;
    }
    .content-box{
        background-color: #070606;
        h1, h2, h3, h4, h5{
            color: $white;    
        }
        p{
            color: $white;
        }
        button{
            background: #ffc107;
        }
    }
}


/*Table CSS*/
table {
    border: 2px solid forestgreen;
    width: auto;
    height: auto;
}
 
th {
    border-bottom: 2px solid black;
}
 
td {
    text-align: center;
}
